@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff2") format("woff2"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff2") format("woff2"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff2") format("woff2"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold; }

body {
  min-width: 320px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  color: #000;
  background-color: #fff; }

p {
  margin: 0 0 10px; }

img {
  max-width: 100%;
  height: auto; }

.red {
  color: #c0151d; }

.button {
  position: relative;
  display: block;
  padding: 11px 0;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 2px 0 #810b11;
          box-shadow: 0 2px 0 #810b11;
  background-color: #c0151d; }
  .button:hover, .button:focus, .button:active {
    text-decoration: none;
    color: #fff;
    background-color: #e7212a; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: none;
            box-shadow: none; }

.title {
  position: relative;
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase; }

.header {
  position: relative;
  z-index: 1;
  padding: 10px 0 8px;
  border-top: 7px solid #c0151d;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.11); }
  .header__col-1, .header__col-2, .header__col-3, .header__col-4 {
    float: left;
    border-right: 1px solid #cacaca; }
  .header__col-1 {
    padding: 7px 12px 5px 15px; }
  .header__col-2 {
    padding: 11px 4px 10px 20px; }
  .header__col-3 {
    padding: 11px 9px 10px 17px; }
  .header__col-4 {
    margin-left: 10px;
    padding: 11px 0 10px;
    border: none; }
  .header__title {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 0 0 0 13px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase; }
  .header__address {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    margin: 0 0 0 5px;
    font-weight: 600;
    font-size: 14px; }
  .header__email {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 2px 5px;
    font-weight: bold;
    font-size: 16px; }
  .header__phone {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 2px 4px;
    font-weight: bold;
    font-size: 16px; }
  .header__button {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    margin-left: 15px;
    font-size: 12px; }

@media (max-width: 1199px) {
  .header__col-2 {
    padding-left: 40px;
    padding-right: 34px; }
  .header__col-3 {
    padding-left: 57px;
    border-right: none; }
  .header__col-4 {
    margin-left: 327px; } }

@media (max-width: 991px) {
  .header__col-2 {
    border-right: none; }
  .header__col-3 {
    padding-left: 62px; }
  .header__col-4 {
    margin-left: 80px; } }

@media (max-width: 767px) {
  .header__col-1, .header__col-2, .header__col-3, .header__col-4 {
    float: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  .header__col-1 {
    border-right: none; }
  .header__title {
    margin-left: 2px; } }

.intro {
  position: relative;
  padding: 131px 0 75px;
  background: url("../img/intro-bg.jpg") center no-repeat;
  -o-background-size: cover;
     background-size: cover; }
  .intro::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 11px;
    background: url("../img/bg-triangle.png") center repeat-x; }
  .intro__title {
    position: relative;
    margin: 0;
    padding-bottom: 19px;
    font-weight: 800;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase; }
    .intro__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 70px;
      height: 5px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #c0151d; }
  .intro__items {
    margin-top: 41px; }
  .intro__text {
    display: inline-block;
    vertical-align: middle;
    width: 260px;
    margin-bottom: 0;
    margin-left: 23px;
    font-weight: 600; }
  .intro__note {
    display: inline-block;
    margin: 41px 0 0;
    padding: 4px 13px 4px 20px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #c0151d; }

@media (max-width: 1199px) {
  .intro {
    padding: 60px 0; }
    .intro__title {
      font-size: 30px;
      line-height: 1.3; }
    .intro__items {
      margin-top: 20px;
      text-align: center; }
    .intro__text {
      display: block;
      width: auto;
      margin: 10px 0 0; }
    .intro__note {
      padding-left: 15px;
      font-size: 23px; } }

@media (max-width: 991px) {
  .intro__title {
    font-size: 23px; }
  .intro__image {
    width: 60px; }
  .intro__text {
    font-size: 15px; }
  .intro__note {
    margin-top: 30px;
    padding-left: 13px;
    font-size: 17px; } }

@media (max-width: 767px) {
  .intro {
    padding: 40px 0; }
    .intro__title {
      font-size: 17px;
      text-align: center; }
      .intro__title::after {
        right: 0;
        margin: 0 auto; }
    .intro__items {
      width: 290px;
      margin-right: auto;
      margin-left: auto; }
    .intro__text {
      margin-top: 5px;
      padding-bottom: 20px;
      font-size: 17px; }
    .intro__note {
      display: block;
      max-width: 600px;
      margin: 20px auto 0;
      font-size: 15px;
      text-align: center; } }

@media (max-width: 479px) {
  .intro__title {
    padding-bottom: 15px;
    font-size: 16px; }
  .intro__items {
    width: 260px; }
  .intro__image {
    width: 50px; }
  .intro__text {
    font-size: 15px; }
  .intro__note {
    margin-top: 10px;
    font-size: 12px; } }

.work {
  padding: 40px 0 45px; }
  .work__title {
    max-width: 750px;
    padding-bottom: 26px; }
    .work__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 70px;
      height: 5px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #c0151d; }
  .work__images {
    margin-top: 20px; }
  .work__types-title {
    margin: 28px 0 25px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #c0151d; }
  .work__types {
    text-align: center; }
  .work__types-image {
    min-height: 72px; }
  .work__types-text {
    width: 240px;
    margin: 14px auto 0;
    font-size: 16px;
    line-height: 24px; }
    .work__types-text .red {
      font-weight: bold;
      font-size: 18px; }
  .work__note {
    margin: 15px 0 0;
    font-size: 18px;
    line-height: 24px; }

@media (max-width: 1199px) {
  .work__types-text {
    width: auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.3; }
    .work__types-text .red {
      font-size: 16px; }
  .work__note {
    font-size: 17px;
    line-height: 22px; } }

@media (max-width: 991px) {
  .work__title {
    font-size: 23px;
    line-height: 1.3; }
  .work__note {
    font-size: 16px; } }

@media (max-width: 767px) {
  .work__title {
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center; }
    .work__title::after {
      right: 0;
      margin: 0 auto; }
  .work__images {
    margin-top: 10px;
    text-align: center; }
  .work__image {
    margin-top: 10px; }
  .work__types-title {
    text-align: center; }
  .work__types-image {
    margin: 0 auto;
    min-height: 0;
    width: 50px; }
  .work__types-text {
    margin: 0 0 15px; }
  .work__note {
    font-size: 15px; } }

.offer {
  position: relative;
  padding: 10px 0 15px;
  background-color: #e6e6e6; }
  .offer::before {
    content: "";
    position: absolute;
    right: 0;
    top: -11px;
    left: 0;
    display: block;
    height: 11px;
    background: url("../img/bg-top.png") center repeat-x; }
  .offer::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -11px;
    left: 0;
    display: block;
    height: 11px;
    background: url("../img/bg-bottom.png") center repeat-x; }
  .offer__title {
    margin-top: 15px;
    line-height: 1.2; }
  .offer__button {
    max-width: 343px;
    margin: 23px 0 0 110px;
    padding: 12px 0 9px; }

@media (max-width: 1199px) {
  .offer__title {
    font-size: 21px; } }

@media (max-width: 991px) {
  .offer__title {
    font-size: 16px; }
  .offer__button {
    margin-left: 70px;
    padding: 10px 0 7px; } }

@media (max-width: 767px) {
  .offer {
    text-align: center; }
    .offer__button {
      margin-left: auto;
      margin-right: auto; } }

@media (max-width: 479px) {
  .offer__button {
    font-size: 12px; } }

.production {
  padding: 42px 0 30px; }
  .production__title {
    max-width: 770px;
    padding-bottom: 16px; }
    .production__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 70px;
      height: 5px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #c0151d; }
  .production__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .production__item {
    display: block;
    min-height: 291px;
    margin-top: 30px;
    padding: 10px 5px;
    text-align: center;
    color: #000;
    border: 1px solid #e8e8e8;
    border-bottom: 1px solid #c0151d;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .production__item:hover, .production__item:focus, .production__item:active {
      color: #000;
      text-decoration: none;
      -webkit-box-shadow: 0px 0px 21px 0px rgba(64, 64, 64, 0.38);
              box-shadow: 0px 0px 21px 0px rgba(64, 64, 64, 0.38); }
  .production__item-text {
    margin: 30px 0 0; }
  .production__button {
    display: block;
    margin: 31px 0 0;
    padding: 17px 13px 16px 21px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #c0151d; }
    .production__button:hover, .production__button:focus, .production__button:active {
      text-decoration: none;
      color: #fff;
      background-color: #e7212a; }

@media (max-width: 1199px) {
  .production__item {
    min-height: 238px; }
  .production__item-text {
    margin-top: 10px; } }

@media (max-width: 991px) {
  .production__title {
    font-size: 22px;
    line-height: 1.3; }
  .production__item {
    min-height: 212px; }
  .production__item-text {
    font-size: 16px; } }

@media (max-width: 767px) {
  .production__title {
    font-size: 18px;
    text-align: center; }
    .production__title::after {
      right: 0;
      margin: 0 auto; }
  .production__item {
    width: 260px;
    min-height: 243px; } }

@media (max-width: 479px) {
  .production__title {
    font-size: 17px; } }

.address {
  position: relative;
  padding-top: 32px;
  text-align: center;
  color: #fff;
  background: #555; }
  .address__title {
    margin-top: 13px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase; }
  .address__phone {
    font-weight: bold; }
  .address__email {
    font-weight: bold; }
  .address__office {
    font-weight: bold;
    text-transform: uppercase; }
  .address__location {
    font-size: 16px;
    font-weight: 600; }
  .address__triangle {
    position: absolute;
    z-index: 2;
    bottom: -24px;
    left: 0;
    width: 100%;
    height: 25px; }

@media (max-width: 991px) {
  .address {
    padding-top: 20px; } }

.map {
  height: 437px;
  background: url("../img/map-mobile.jpg") center no-repeat; }
  @media (min-width: 480px) {
    .map {
      background: url("../img/map-tablet-1.jpg") center no-repeat; } }
  @media (min-width: 768px) {
    .map {
      background: url("../img/map-tablet-2.jpg") center no-repeat; } }
  @media (min-width: 992px) {
    .map {
      background: url("../img/map-desktop-1.jpg") center no-repeat; } }
  @media (min-width: 1366px) {
    .map {
      background: url("../img/map-desktop-2.jpg") center no-repeat;
      -o-background-size: cover;
         background-size: cover; } }

.footer {
  padding: 19px 0 29px;
  background: #555; }
  .footer__link {
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    color: #fff; }
    .footer__link:last-child {
      padding-right: none; }
    .footer__link:hover, .footer__link:focus, .footer__link:active {
      text-decoration: none;
      color: #fff; }

@media (max-width: 1199px) {
  .footer {
    text-align: center; } }

@media (max-width: 767px) {
  .footer {
    padding-bottom: 3px; }
    .footer__link {
      display: block;
      margin-bottom: 15px; } }
