.offer {
  position: relative;
  padding: 10px 0 15px;
  background-color: #e6e6e6;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: -11px;
    left: 0;
    display: block;
    height: 11px;
    background: url("../img/bg-top.png") center repeat-x;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -11px;
    left: 0;
    display: block;
    height: 11px;
    background: url("../img/bg-bottom.png") center repeat-x;
  }
  &__title {
    margin-top: 15px;
    line-height: 1.2;
  }
  &__button {
    max-width: 343px;
    margin: 23px 0 0 110px;
    padding: 12px 0 9px;
  }
}

@media (max-width: 1199px) {
  .offer {
    &__title {
      font-size: 21px;
    }
  }
}

@media (max-width: 991px) {
  .offer {
    &__title {
      font-size: 16px;
    }
    &__button {
      margin-left: 70px;
      padding: 10px 0 7px;
    }
  }
}

@media (max-width: 767px) {
  .offer {
    text-align: center;
    &__button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 479px) {
  .offer {
    &__button {
      font-size: 12px;
    }
  }
}
